<!-- start footer -->
        <div class="footer-container">
            <footer class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="social-link">
                            <li><a href="https://github.com/ushahidi/crisisnet"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://twitter.com/CrisisNET"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://blog.crisis.net/rss/"><i class="fa fa-rss"></i></a></li>
                        </ul>
                        <!-- static nav start -->
                        <div class="static-nav">
                            <a href="http://crisis.net">CrisisNET Home</a> |
                            <a href="http://crisis.net/about/">About CrisisNET</a> |
                            <a href="http://crisis.net/blog/">CrisisNET Blog</a> |
                            <a href="http://ushahidi.com">Ushahidi</a>

                        </div>
                        <!-- static nav end -->
                        <div class="copyright"><a href="/">{{@blog.title}}</a> is a project of <a href="http://www.ushahidi.com/">Ushahidi</a> and funded by <a href="http://www.rockefellerfoundation.org/">The Rockefeller Foundation</a>.</div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end footer -->
        <!-- main document markup end -->
        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}
